@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <br />
        <h2>Log in</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a>Account</a></li>
            <li class="breadcrumb-item active">@ViewBag.Title</li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>


<div class="passwordBox animated fadeInDown">
    <div class="row">

        <div class="col-md-12">
            <div class="ibox-content">

                <h2 class="font-bold">Password reset link sent!</h2>

                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
</div>

@*<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>*@
	
