<div class="footer">
    <div class="pull-right">
         
    </div>
    <div class="text-center">
        Platform &copy; @DateTime.Now.Year&nbsp;|
        <a class="btn btn-sm btn-link" href="/Home/Privacy">Privacy</a>&nbsp;|
        <a class="btn btn-sm btn-link" href="/Home/Terms">Terms</a>&nbsp;|
        <a class="btn btn-sm btn-link" href="https://github.com/Horndev/zapread.com"><i class="fa-brands fa-github "></i></a>
        <a class="btn btn-sm btn-link" href="https://twitter.com/zapread"><i class="fa-brands fa-twitter "></i></a>
    </div>
</div>
