<div class="footer">
    <div class="pull-right">
         
    </div>
    <div>
        Platform <strong>copyright</strong> Zapread.com &copy; @DateTime.Now.Year.&nbsp;|
        <a class="btn btn-sm btn-link" href="/Home/Privacy">Privacy</a>&nbsp;|
        <a class="btn btn-sm btn-link" href="/Home/Terms">Terms of Use</a>
    </div>
</div>
