@{
    var url = string.Format(
        "/Img/QR?qr={0}",
        @Uri.EscapeDataString("02cda8c01b2303e91bec74c43093d5f1c4fd42a95671ae27bf853d7dfea9b78c06@lightning.zapread.com:9735"));
}

<div class="modal fade" id="depositModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="voteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" onclick="switchDeposit()" id="nav-deposit-tab"  data-toggle="tab" href="#nav-deposit"  role="tab" aria-controls="nav-deposit"  aria-selected="true">Deposit</a>
                        <a class="nav-item nav-link"        onclick="switchWithdraw()" id="nav-withdraw-tab" data-toggle="tab" href="#nav-withdraw" role="tab" aria-controls="nav-withdraw" aria-selected="false">Withdraw</a>
                    </div>
                </nav>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card ">
                    <div class="card-body">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-deposit" role="tabpanel" aria-labelledby="nav-deposit-tab">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-10 text-right">
                                                <span> Balance </span>
                                                <h2 class="font-bold"><span class="userBalanceValue" id="userDepositBalance">0</span> </h2>
                                                <small class="text-muted">Satoshi</small>
                                            </div>
                                            <div class="col-2">
                                                <i class="fa fa-bolt fa-5x"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="input-group mb-3">
                                    <input type="number" id="depositValueAmount" value="1000" placeholder="Deposit amount (Satoshi)" class="form-control font-bold" aria-label="Amount">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-withdraw" role="tabpanel" aria-labelledby="nav-withdraw-tab">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-10 text-right">
                                                <span> Balance </span>
                                                <h2 class="font-bold"><span class="userBalanceValue" id="userWithdrawBalance">0</span> </h2>
                                                <small class="text-muted">Satoshi</small>
                                            </div>
                                            <div class="col-2">
                                                <i class="fa fa-bolt fa-5x"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="input-group mb-3" id="lightningWithdrawInvoice">
                                    <input type="text" id="lightningWithdrawInvoiceInput" class="form-control" placeholder="Paste invoice" aria-label="invoice" aria-describedby="basic-addon2">
                                </div>
                                <div>
                                    <video id="preview" style="display:none"></video>
                                    <a href="javascript:void(0);" onclick="scan();" class="btn btn-sm btn-outline btn-primary">Scan QR</a>
                                </div>
                            </div>
                        </div>

                        <img id="lightningDepositQR" src="/Img/Qr?qr=lninvoice" class="img-fluid" style="display:none" />

                        <div class="input-group mb-3" id="lightningDepositInvoice" style="display:none">
                            <div class="input-group-prepend">
                                <a href="lightning:xxx" id="lightningDepositInvoiceLink" class="btn btn-primary" role="button" aria-pressed="true"><span class="fa fa-bolt"></span></a>
                            </div>
                            <input type="text" id="lightningDepositInvoiceInput" class="form-control" placeholder="Getting invoice" aria-label="invoice" aria-describedby="basic-addon2">
                            
                            <div class="input-group-append">
                                <button class="btn btn-primary" id="lightningDepositInvoiceCopy" type="button"><span class="fa fa-copy"></span> Copy</button>
                            </div>

                            <div class="col-md-2 pull-right">
                                <!-- Small modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm"><i class="fa fa-qrcode"></i></button>

                                <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <img src="@url" class="img-fluid" />
                                            <br />
                                            <textarea class="form-control" value="" readonly="readonly" rows="3">02cda8c01b2303e91bec74c43093d5f1c4fd42a95671ae27bf853d7dfea9b78c06@lightning.zapread.com:9735</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-muted" id="lightningTransactionInvoiceResult">
                        <b>Specify deposit amount to deposit and get invoice.</b>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnCheckLNDeposit" type="button" class="btn btn-info" style="display:none;" onclick="checkInvoicePaid(this);">Check Payment <i id="spinCheckPayment" class="fa fa-circle-o-notch fa-spin" style="display:none"></i></button>
                <button id="btnPayLNWithdraw" type="button" class="btn btn-primary" style="display:none" onclick="onPayInvoice(this);">Withdraw</button>
                <button id="doLightningTransactionBtn" type="button" class="btn btn-primary" onclick="onGetInvoice(this);">Get Invoice</button>
                <button onclick="onCancelDepositWithdraw(this);" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@Html.Script(
@<script type="text/javascript">
     $(document).ready(function () {
         $.get("/Account/GetBalance", function (data, status) {
             $('#userDepositBalance').html(data.balance);
             $(".userBalanceValue").each(function (i, e) {
                 $(e).html(data.balance);
             });
         });
     });

    var scan = function () {

        //alert('Sorry. Not yet implemented.');
        let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
        scanner.addListener('scan', function (content) {
            console.log(content);
            $('#lightningWithdrawInvoiceInput').val(content);
            $("#preview").hide();
            scanner.stop();
        });
        Instascan.Camera.getCameras().then(function (cameras) {
            if (cameras.length > 0) {
                scanner.start(cameras[0]);
            } else {
                console.error('No cameras found.');
            }
        }).catch(function (e) {
            console.error(e);
            });
        $("#preview").show();
    };

    var switchWithdraw = function () {
        $('#doLightningTransactionBtn').hide();
        $('#btnCheckLNDeposit').hide();
        $('#btnPayLNWithdraw').show();
        $("#lightningTransactionInvoiceResult").show();
        $("#lightningDepositQR").hide();
        $("#lightningDepositInvoice").hide();
        $("#lightningTransactionInvoiceResult").removeClass("bg-info");
        $("#lightningTransactionInvoiceResult").removeClass("bg-error");
        $("#lightningTransactionInvoiceResult").addClass("bg-muted");
        $("#lightningTransactionInvoiceResult").removeClass("bg-success");
        $("#lightningTransactionInvoiceResult").html("Paste invoice to withdraw");
    };

    var switchDeposit = function () {
        $('#doLightningTransactionBtn').show();
        $('#btnCheckLNDeposit').hide();
        $('#btnPayLNWithdraw').hide();
        $("#lightningTransactionInvoiceResult").removeClass("bg-info");
        $("#lightningTransactionInvoiceResult").removeClass("bg-error");
        $("#lightningTransactionInvoiceResult").addClass("bg-muted");
        $("#lightningTransactionInvoiceResult").removeClass("bg-success");
        $("#lightningTransactionInvoiceResult").html("Specify deposit amount to deposit and get invoice.");
    };

    // Deposit modal copy invoice to clipboard
    $(function () {
        $("#lightningDepositInvoiceCopy").click(function () {
            $("#lightningDepositInvoiceInput").focus();
            $("#lightningDepositInvoiceInput").select();
            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';
                console.log('Copying text command was ' + msg);
                $("#lightningDepositInvoiceCopy").html("<span class='fa fa-copy'></span> Copied");
            } catch (err) {
                console.log('Oops, unable to copy');
            }
        });
    });
</script>
)