@*
    This view renders a modal which presents the user with a request to do a tour of the homepage

    This should be rendered if the user does not have the dismiss cookie.
*@

<div class="modal fade" id="modalTourIndex" data-show="true" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalTourIndexTitle">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalTourIndexTitle">ZapRead Tour</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>
                    Welcome!
                </h3>
                <p>
                    ZapRead.com is a social media platform where you can vote with Bitcoin to reward quality content, and bury poor content.  The Bitcoin you spend is passed on to the creators of quality content throughout the website!
                </p>
                <p>
                    If you contribute quality content, you too will earn Bitcoin. Payments are made over the <a href="https://en.wikipedia.org/wiki/Lightning_Network" target="_blank"  data-toggle="tooltip" data-placement="bottom" title="Opens in new window."><i class="fa fa-bolt"></i> Lightning Network</a>.
                </p>
                <p>
                    <b>Would you like a quick tour and explaination of ZapRead.com?</b>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btnTourStart" type="button" class="btn btn-primary">Yes</button>
                <button id="btnTourDismiss" type="button" class="btn btn-secondary">Don't ask again</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Remind me later</button>
            </div>
        </div>
    </div>
</div>

@Html.Script(
@<script type="text/javascript">
    $(document).ready(function () {
        $('#modalTourIndex').modal('show');
        $('[data-toggle="tooltip"]').tooltip()
        // Instance the tour
        var tour = new Tour({
            name: "index",
            onEnd: function (tour) {
                swal("Do you wish to view the tour another time?",{
                    buttons: {
                        cancel: "No thanks",
                        postpone: {
                            text: "Another time",
                            value: "postpone",
                        }
                    }
                }).then(function (value) {
                    switch (value) {
                        case "postpone":
                            swal("Ok", "We'll ask you another time.", "success");
                            break;
                        default:
                            dismissTour();
                    }
                });
            },
            steps: [{
                element: "#goHome",
                title: "Go Home",
                content: "Click here to return to the home page at any time.",
                placement: "top",
                backdrop: true,
                backdropContainer: '#wrapper'
                //onShown: function (tour) {
                //    $('body').addClass('tour-open')
                //},
                //onHidden: function (tour) {
                //    $('body').removeClass('tour-close')
                //}
            },
            {
                element: ".firstPost",
                title: "This is a post.",
                content: "<p>All content on ZapRead.com is submitted as a post.</p><p>Every post has an author, and belongs to a <em>group</em>.</p><p>You can click on the post tile to view the entire post, including discussions.</p>",
                placement: "left",
                backdrop: true,
                backdropContainer: '#wrapper'
            },
            {
                element: "#btnNewPost",
                title: "Submitting new posts.",
                content: "<p>It costs nothing to submit a post.</p><p>All new posts start with a score of 1.  Good quality posts are rewarded, poor quality posts are not.</p>",
                placement: "top",
                backdrop: true,
                backdropContainer: '#wrapper'
            },
            {
                element: ".firstPostVoteUp",
                title: "Vote up ...",
                content: "<p> ... if you think this post is of high quality.</p><p><ul><li>60% goes to the author</li><li>20% goes to the group</li><li>10% goes to all authors</li><li>10% goes to server fees and maintenance</li></ul></p><p>The post score is increased and it becomes more visible.</p>",
                placement: "right",
                backdrop: true,
                backdropContainer: '#wrapper'
            },
            {
                element: ".firstPostVoteDown",
                title: "Vote down ...",
                content: "<p> ... if the post is of poor quality.</p><p><ul><li>80% goes to the group</li><li>10% goes to all authors</li><li>10% goes to server fees and maintenance</li></ul></p><p>The post score is reduced and it becomes less visible.  Think of the money paid as additional compensation to the other good quality posts.</p>",
                placement: "right",
                backdrop: true,
                backdropContainer: '#wrapper'
            },
            {
                element: ".firstPostScore",
                title: "Post score",
                content: "<p>This is the post score.  If the score is greater than 0, then the author will receive daily group and community payments.  The score increases as users vote up and decreases as users vote down.</p>",
                placement: "right",
                backdrop: true,
                backdropContainer: '#wrapper'
            },
            {
                element: "#topBalance",
                title: "Your balance",
                content: "<p>This will show your balance in units of Satoshi.</p><p>When logged in, clicking on it will bring up a menu to deposit or withdraw Bitcoin over the Lightning Network.</p>",
                placement: "bottom",
                backdrop: true,
                backdropContainer: '#wrapper'
            }, 
            {
                element: "#topFinancial",
                title: "Financial",
                content: "<p>Clicking on this Bitcoin symbol will take you to your financial activities summary.</p><p>Here, you can see a history of your Lightning Network transactions, when you've earned Bitcoin, and where you've spent Bitcoin.</p>",
                placement: "bottom",
                backdrop: true,
                backdropContainer: '#wrapper'
            }, 
            {
                element: "#topMessages",
                title: "Messages",
                content: "<p>Here you can see recent messages from other users, or view a history of messages.</p>",
                placement: "bottom",
                backdrop: true,
                backdropContainer: '#wrapper'
            }, 
            {
                element: "#topAlerts",
                title: "Alerts",
                content: "<p>Here you can see recent notifications about things you may be interested in such as a post by a user you like, or in a group you like.</p>",
                placement: "bottom",
                backdrop: true,
                backdropContainer: '#wrapper'
            }, 
            {
                element: "#topChat",
                title: "Chat",
                content: "<p>Clicking here will take you to the private chats you may have with other users of ZapRead.  Content between users is not public like comments on posts.  Here, you can have a discussion with other users in private.</p>",
                placement: "bottom",
                backdrop: true,
                backdropContainer: '#wrapper'
            }, 
            {
                element: "#navGroups",
                title: "The groups",
                content: "<p>This link takes to to a listing of all the groups on ZapRead.</p><p>It costs nothing to create a new group.</p>",
                placement: "top",
                backdrop: true,
                backdropContainer: '#wrapper'
            }, 
            {
                element: "#sortButtons",
                title: "Sort content",
                content: "<p><em>Hot</em> shows posts which are recent and high scoring, the default view.</p><p><em>New</em> shows the most recent posts.</p><p><em>Active</em> shows recent posts which have more discussion.</p>",
                placement: "top",
                backdrop: true,
                backdropContainer: '#wrapper'
            },
            {
                element: "#navRegister",
                title: "Register an account.",
                content: "<p>You need to create an account to make posts.  Start by registering.  You will need an email account, or other supported log-in account, like google, github, or reddit.</p>",
                placement: "top",
                backdrop: true,
                backdropContainer: '#wrapper'
            },
            {
                element: ".page-heading",
                title: "The end",
                content: "That's it for our tour.  Welcome, and enjoy!",
                placement: "bottom"
            }
            ]
        });

        // Initialize the tour
        tour.init();

        $('#btnTourStart').click(function () {
            $('#modalTourIndex').modal('hide');
            tour.restart();
        })

        $('#btnTourDismiss').click(function () {
            $('#modalTourIndex').modal('hide');
            dismissTour();
        })
    });

    var dismissTour = function () {
        leaveurl = "/Home/DismissTour"
        var data = JSON.stringify({ 'id': 1 });
        $.ajax({
            async: true,
            data: data.toString(),
            type: 'POST',
            url: leaveurl,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.result == "success") {
                    swal("Ok, you will not be asked for a tour next time.", {
                        icon: "success",
                    });
                }
            }
        });
    };

</script>
)