@{
    var url = string.Format(
        "/Img/QR?qr={0}",
        @Uri.EscapeDataString("02cda8c01b2303e91bec74c43093d5f1c4fd42a95671ae27bf853d7dfea9b78c06@lightning.zapread.com:9735"));
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryFormVote" }))
{
    @Html.AntiForgeryToken()
}

<div class="modal fade" id="voteModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="voteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="voteModalTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card ">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-5">
                                        <span> Pay </span>
                                        <input type="number" min=1 id="voteValueAmount" placeholder="Amount" class="form-control font-bold" aria-label="Amount">
                                        <small class="text-muted">Satoshi</small>
                                    </div>
                                    <div class="col-5 text-right">
                                        <span> Balance </span>
                                        <h2 class="font-bold"><span id="userVoteBalance">0</span> </h2>
                                        <small class="text-muted">Satoshi</small>
                                    </div>
                                    <div class="col-2">
                                        <i class="fa fa-bolt fa-5x"></i>
                                    </div>
                                </div>
                                <h2 class="font-bold"><span id="payAmount" style="display:none"></span></h2>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <div class="input-group mb-3" id="depositMemoValue">
                            </div>
                        </div>

                        <div id="voteQRloading" style="display: none">
                            <div class="sk-loading" style="border-style: none;">
                                <div class="sk-spinner sk-spinner-three-bounce">
                                    <div class="sk-bounce1"></div>
                                    <div class="sk-bounce2"></div>
                                    <div class="sk-bounce3"></div>
                                </div>
                            </div>
                        </div>

                        <a id="lnDepositInvoiceImgLink" href="lightning:xxx">
                            <img loading="lazy" id="voteDepositQR" src="~/Content/FFFFFF-0.png" class="img-fluid" />
                        </a>

                        <div class="input-group mb-3" id="voteDepositInvoice" style="display:none">
                            <div class="input-group-prepend">
                                <a href="lightning:xxx" id="lnDepositInvoiceLink" class="btn btn-primary" role="button" aria-pressed="true"><span class="fa fa-bolt"></span></a>
                            </div>
                            <input type="text" id="voteDepositInvoiceInput" class="form-control" placeholder="invoice" aria-label="invoice" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" onclick="copyToClipboard(this,'voteDepositInvoiceInput');"><span class="fa fa-copy"></span> Copy</button>
                            </div>
                            <!--<div class="col-md-2 pull-right">-->
                                <!-- Small modal -->
                                <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".vote-modal"><i class="fa fa-qrcode"></i></button>

                                <div class="modal fade vote-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <img width="300" height="300" loading="lazy" src="@url" class="img-fluid" />
                                            <br />
                                            <textarea class="form-control" value="" readonly="readonly" rows="3">02cda8c01b2303e91bec74c43093d5f1c4fd42a95671ae27bf853d7dfea9b78c06@lightning.zapread.com:9735</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <div class="card-footer bg-info" id="voteDepositInvoiceFooter">
                        Click vote to confirm.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="checkInvoicePaid(this);" id="btnCheckLNVote" type="button" class="btn btn-info btn-ln-checkPayment" style="display:none;" data-invoice-element="voteDepositInvoiceInput" data-spin-element="spinCheckPaymentVote">Check Payment <i id="spinCheckPaymentVote" class="fa fa-circle-o-notch fa-spin" style="display:none"></i></button>
                <button onclick="onVote(this);" id="voteOkButton" type="button" class="btn btn-primary">Vote</button>
                <button onclick="onCancelVote(this);" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@*@using (var context = Html.BeginScriptContext())
{
    context.AddScriptFile("~/bundles/partial/vote");
}*@
