
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/zapread.com/node_modules/
/zapread.com/database.config
/zapread.com/Scripts/summernote/
/zapread.com/AppSettings.config
/zapread.com/Properties/PublishProfiles/Default Settings.pubxml
/zapread.com/Properties/PublishProfiles/Zapread - Web Deploy.pubxml
/zapread.com/Parameters.xml
/zapread.com.Tests/App.config
/zapread.com/Properties/PublishProfiles/zapread-deploy1 - Web Deploy.pubxml
/node_modules/yargs/
/node_modules/yargs-parser/
/node_modules/wrap-ansi/
/node_modules/which/
/node_modules/which-module/
/node_modules/webpack-cli/
/node_modules/webpack/
/node_modules/v8-compile-cache/
/node_modules/strip-eof/
/node_modules/string-width/
/node_modules/signal-exit/
/node_modules/shebang-regex/
/node_modules/shebang-command/
/node_modules/set-blocking/
/node_modules/resolve-from/
/node_modules/resolve-dir/
/node_modules/resolve-cwd/
/node_modules/require-main-filename/
/node_modules/.bin/
/node_modules/bindings/
/node_modules/camelcase/
/node_modules/cliui/
/node_modules/color-convert/
/node_modules/color-name/
/node_modules/cross-spawn/
/node_modules/decamelize/
/node_modules/detect-file/
/node_modules/emoji-regex/
/node_modules/execa/
/node_modules/expand-tilde/
/node_modules/file-uri-to-path/
/node_modules/findup-sync/
/node_modules/get-caller-file/
/node_modules/get-stream/
/node_modules/global-modules/
/node_modules/global-prefix/
/node_modules/has-flag/
/node_modules/homedir-polyfill/
/node_modules/import-local/
/node_modules/ini/
/node_modules/interpret/
/node_modules/invert-kv/
/node_modules/isexe/
/node_modules/is-fullwidth-code-point/
/node_modules/is-stream/
/node_modules/lcid/
/node_modules/map-age-cleaner/
/node_modules/mem/
/node_modules/mimic-fn/
/node_modules/nan/
/node_modules/nice-try/
/node_modules/npm-run-path/
/node_modules/os-locale/
/node_modules/parse-passwd/
/node_modules/path-key/
/node_modules/p-defer/
/node_modules/p-finally/
/node_modules/p-is-promise/
/node_modules/require-directory/
/realtime.zapread.com/node_modules/
/realtime.zapread.com/wwwroot/js/
/zapread.com/Scripts/dist/
/zapread.com/.upgrade-assistant
/zapread.com/upgrade-assistant.clef
