
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/zapread.com/node_modules/
/zapread.com/database.config
/zapread.com/Scripts/summernote/
/zapread.com/AppSettings.config
/zapread.com/Properties/PublishProfiles/Default Settings.pubxml
/zapread.com/Properties/PublishProfiles/Zapread - Web Deploy.pubxml
/zapread.com/Parameters.xml
/zapread.com.Tests/App.config
/zapread.com/Properties/PublishProfiles/zapread-deploy1 - Web Deploy.pubxml
