[submodule "OwinOAuthProviders"]
	path = OwinOAuthProviders
	url = https://github.com/Horndev/OwinOAuthProviders.git
[submodule "LndLib.NET"]
	path = LndLib.NET
	url = https://github.com/Horndev/LndLib.NET.git
[submodule "RoboHash.Net"]
	path = RoboHash.Net
	url = https://github.com/Horndev/RoboHash.Net.git
[submodule "Microsoft.Owin.Security.ApiKey"]
	path = Microsoft.Owin.Security.ApiKey
	url = https://github.com/Horndev/Microsoft.Owin.Security.ApiKey.git
[submodule "quill-image-resize-module"]
	path = ./zapread.com/zapread.com/Scripts/src/quill-image-resize-module
	url = https://github.com/Horndev/quill-image-resize-module.git
	branch = master
[submodule "zapread.com/Scripts/src/quill-image-resize-module"]
	path = zapread.com/Scripts/src/quill-image-resize-module
	url = https://github.com/Horndev/quill-image-resize-module.git
