@{

}

<div class="row">
    <br /><br /><br /><br /><br />
</div>
<div class="row">
    <div class="col text-center">
        <div>
            <a class="zr-user"
               onmouseover="loadhover(this);"
               data-userid="1"
               href="@Url.Action(actionName: "Index", controllerName: "User", routeValues: new { username = "Z" })">
                Zelgada
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        Other text<br /><br /><br /><br /><br />
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <div>
            <span class="zr-user"
               onmouseover="loadhover(this);"
               data-userid="1">
                Zelgada
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <br />
        Other text<br /><br /><br /><br /><br />
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <div>
            <span class="zr-user badge badge-info userhint" onmouseover="loadhover(this);">
                @@Zelgada
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <br />
        No Userid<br /><br /><br /><br /><br />
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/users")
}