
@{
    ViewBag.Title = "Post not found";
}

<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <br />
        <h2>Error: Post not found</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a>Posts</a></li>
            <li class="breadcrumb-item active">Not Found</li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-content">
                    <p>Sorry, the post you were looking for was not found.</p>
                </div>
            </div>
            
            <div class="social-feed-box-nb">
                <span></span>
            </div>
            <div class="social-feed-box-nb">
                <span></span>
            </div>
        </div>
    </div>
</div>
