
/*table which visualizes items */
.items-list-title a {
    font-size: 14px;
    color: #676a6c;
    font-weight: 600;
}

.items-list table tr td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 15px 10px;
    vertical-align: middle;
}
