@model zapread.com.Models.Comments.CommentReplyInputViewModel

<div class="social-footer">
    <div id="s_c@(Model.CommentId.ToString())" class="social-comment" style="margin-left: 0px;">
        <div class="ibox-content no-padding ibox-content-commentreply">
            <div class="sk-spinner sk-spinner-three-bounce">
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
            </div>
            <div class="media-body">
                <div class="row">
                    <div class="col col-1" style="min-width: 40px;max-width:40px;">
                        <a href="@Url.Action(actionName: "Index", controllerName: "Manage")" class="pull-left">
                            <img class="img-circle" loading="lazy" width="30" height="30" src="@Url.Action("UserImage", "Home", new { size = 30, UserId = Model.UserAppId, v = Model.ProfileImageVersion  })" />
                        </a>
                    </div>
                    <div class="col">
                        <div class="ql-content" id="content-container_@Model.CommentId.ToString()">
                            @*<div id="toolbar-container_@Model.CommentId.ToString()">
                            </div>*@
                            <div class="ql-comment post-comment" id="editor-container_c@(Model.CommentId.ToString())"></div>
                        </div>
                        @*<div class="ibox-content no-padding">
                            <div class="c_input wrapper p-md" id="cr_input_@Model.CommentId.ToString()"></div>
                        </div>*@
                    </div>
                    @*<div class="col-sm-auto">
                        <div class="btn-group-vertical">
                            <button id="bcr_@Model.CommentId.ToString()" class="btn btn-sm btn-outline btn-primary" type="submit" onclick="submitCommentA(@Model.Post.PostId, @Model.CommentId.ToString(), true)">Submit <i id="csr_@Model.CommentId.ToString()" class="fa fa-circle-o-notch fa-spin" style="display:none"></i></button>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
