@model zapread.com.Models.Home.HomeTopGroupsPartialViewModel

@foreach (var g in Model.SubscribedGroups)
{
    <button style="white-space:normal !important; word-wrap: break-word; word-break: normal;" onclick="location.href='@Url.Action("GroupDetail", "Group", new { id = g.Id })'" class="btn btn-link btn-block text-left">
        <i class="fa fa-@g.Icon"></i> @g.Name
        @if (g.IsAdmin)
        {
            <i class="fa fa-gavel text-primary" data-toggle="tooltip" data-placement="right" title="Administrator"></i>
        }
        else if (g.IsMod)
        {
            <i class="fa fa-gavel text-success" data-toggle="tooltip" data-placement="right" title="Moderator"></i>
        }
    </button>
}
