@{
    ViewBag.Title = "About";
}

<div id="root"></div>

@*<div class="wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <br />
            <h2>About</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">About</li>
            </ol>
            <small></small>
        </div>
        <div class="col-lg-2">
        </div>
    </div>*@

@*@Html.Partial(partialViewName: "_PartialSummaryStatistics");*@

@*<div class="row justify-content-md-center">
        <div class="col-lg-10">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="text-center article-title">
                        <h1>
                            About
                        </h1>
                    </div>
                    <p>
                        Zapread.com is a website that combines many aspects of social media, economics, and Bitcoin.
                        The idea is to create a community that is a self-regulating social economy where content of interest is rewarded, and poor content is buried.
                        Users vote on content produced by authors by paying Bitcoin via the Lightning Network in increments of one Satoshi.
                        The authors are rewarded for positive contributions, and the community is compensated for poor contributions.
                    </p>
                    <hr>
                    <div class="text-center article-title">
                        <h1>
                            Privacy Policy
                        </h1>
                    </div>
                    <p><h2>What we collect</h2></p>
                    <ul>
                        <li><b>Information you provide:</b> This includes your username, the cryptographic representation of your password, your email address, user images, user settings, and website content you provide.</li>
                        <li><b>Information on your actions:</b> This includes your votes, user ignores, user following, and group following.</li>
                        <li><b>Transaction information:</b> This includes a record of your Lightning Network transactions (invoices for deposit and withdraw).</li>
                        <li><b>Information automatically collected:</b> This includes timestamps of when you log in, which posts have been viewed (anonymously recorded), and which pages you may navigate to - for the purpose of website user flow and fault monitoring (anonymously).</li>
                        <li><b>Information from cookies or other meta sources:</b> This includes information on your preferred language and browser type.  This is collected to present the webpage formatted to your preferences.</li>
                        <li>
                            <b>Technical application telemetry</b>: For the purposes of monitoring website performance, error detection, and to ensure legal compliance, the following telemetry is collected:
                            <ul>
                                <li>
                                    Uncaught exceptions, including information on: Stack trace,
                                    Exception details and message accompanying the error,
                                    Line & column number of error,
                                    URL where error was raised.
                                </li>
                                <li>
                                    Network Dependency Requests include information on:
                                    Url of dependency source,
                                    Command & Method used to request the dependency,
                                    Duration of the request,
                                    Result code and success status of the request,
                                    (anonymized) ID (if any) of user making the request,
                                    Correlation context (if any) where request is made.
                                </li>
                                <li>User information (e.g. Location, network, IP)</li>
                                <li>Device information (e.g. Browser, OS, version, language, model)</li>
                                <li>Session information</li>
                            </ul>
                        </li>
                    </ul>
                    <p><h2>How we use the information we collect about you</h2></p>
                    <ul>
                        <li>To send you email alerts and updates based on your preferences.</li>
                        <li>To customize the information presented to you based on your preferences.</li>
                        <li>To grant you access to site features (such as moderation and administration features)</li>
                        <li>To collect payment and send payments to your wallet.</li>
                        <li>To allow other users to send you messages.</li>
                        <li>To communicate with you to send you updates and information, based on your preferences.</li>
                        <li>To monitor the performance of the website based on your usage and any errors you may experience.</li>
                    </ul>
                    <p><h2>Sharing our information about you</h2></p>
                    <ul>
                        <li><b>No third parties.</b> Zapread.com will not provide any user information, including activities, balances, identities, or emails, to third parties.  With one following exception.</li>
                        <li><b>To comply with the law.</b>  Zapread.com may share information in response to a formal request for information if required by applicable law, regulation, legal process or governmental order, including, but not limited to, meeting national security or law enforcement requirements. To the extent the law allows it, we will attempt to provide you with prior notice before disclosing your information.</li>
                    </ul>
                    <p><h2>Other</h2></p>
                    <ul>
                        <li><b>Cookies:</b> Zapread.com uses cookies as necessary to deliver the features of the website.</li>
                        <li><b>Advertising:</b> Zapread.com does not host any third party advertising on the website.</li>
                        <li><b>Data Retention:</b> Zapread.com will retain data collected by you for as long as necessary given the intended purpose.  If you delete your content, the data may be retained for an unspecified time before full deletion from our records.</li>
                        <li><b>Children:</b> You must be over the age required by the laws of your country to create an account or otherwise use the website, or we need to have obtained verifiable consent from your parent or legal guardian.</li>
                    </ul>
                    <hr>
                    <div class="text-center article-title">
                        <h1>
                            Terms of Use
                        </h1>
                    </div>
                    <p>
                        The following terms of use apply to all users of the website:
                    </p>
                    <p>
                        <b>No illegal content will be tolerated.</b> Not only does it put the user at risk, but it also jeopardizes the existence of the website itself.  Any users posting illegal content will have their posts removed, and accounts disabled.
                        Users have 30 days to withdraw funds, after which, any outstanding user balance will be distributed to the community of users, unless prohibited by law.
                    </p>
                    <p>
                        <b>Inactive accounts.</b> Accounts which have not posted or voted over a period of 12 months will be hibernated.
                        This means they will no longer receive group or community payments.
                        If there is no activity after 18 months, the account will be disabled.
                        The user will have 30 days to withdraw funds, after which, any outstanding user balance will be distributed to the community of users, unless prohibited by law.
                    </p>
                    <p>
                        <b>Taxes.</b> Any income earned on Zapread.com is likely taxable income (depending on the residency of the user).
                        It is the responsibility of the user to ensure all local tax laws are adhered to.
                    </p>
                    <p>
                        <b>Regulations.</b> Zapread operates as a registered Money Service Business (MSB) in Canada.
                        As such, we have <a href="https://www.fintrac-canafe.gc.ca/guidance-directives/transaction-operation/1-eng">reporting requirements</a> for certain virtual currency transactions as stipulated by the Financial Transactions and Reports Analysis Centre of Canada (FINTRAC).
                        These regulations are put in place in order to prevent and deter financing of terrorist activities and money laundering of proceeds of crime.
                        In particular, we are required to report large virtual currency transactions in an amount equivalent to $10,000 Canadian Dollars or more, or transactions of the equivalent of $10,000 Canadian Dollars or more within a 24-hour window.
                        We are also <a href="https://www.fintrac-canafe.gc.ca/guidance-directives/recordkeeping-document/record/msb-eng">required to maintain records</a> of virtual currency transfers quivalent to $1,000 Canadian Dollars or more.
                        In addition to the above, we have a requirement to monitor and report some activities relating to domestic and foreign politically exposed persons and heads of international organizations.
                    </p>
                </div>
            </div>
        </div>
    </div>*@

@section Styles {
    @Styles.Render("~/bundles/home/about/css")
}

@section Scripts {
    <script type="text/javascript">
        var IsAuthenticated = "@Request.IsAuthenticated" == "True";
    </script>
    @Scripts.Render("~/bundles/home/about")
}