
@{
    ViewBag.Title = "Feedback Success";
}

<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <br />
        <h2>User Feedback</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Feedback</li>
        </ol>
        <small></small>
    </div>
    <div class="col-lg-2">
    </div>
</div>


<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-lg-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Feedback Successful</h5>
            </div>
            <div class="ibox-content">
                <p>Your message has been sent.  We will get back to you as soon as we are able to.</p>
                <p>Thank you!</p>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/home/faq/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/home/faq")
}