@{
    ViewBag.Title = "Privacy Policy";
}

<div id="root"></div>

@section Styles {
    @Styles.Render("~/bundles/home/privacy/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/home/privacy")
}