@{
    ViewBag.Title = "Manage API Keys";
}

<div id="root"></div>
@section Styles {
    @Styles.Render("~/bundles/manage/apikeys/css")  @*same css and scripts*@
}
@Scripts.Render("~/bundles/manage/apikeys")