@{
    ViewBag.Title = "User Financial";
}

<div id="root"></div>

@section Styles {
    @Styles.Render("~/bundles/manage/financial/css")
}

@section Scripts {
    <script type="text/javascript">
        var IsAuthenticated = "@Request.IsAuthenticated" == "True";
    </script>
    @Scripts.Render("~/bundles/manage/financial")
}