@model zapread.com.Models.ManageUserViewModel
@using zapread.com.Models.Manage

@{
    ViewBag.Title = "Manage";
    List<string> included = new List<string>();
}

<div id="root"></div>

@section Styles {
    @Styles.Render("~/bundles/manage/index/css")
}

@section Scripts {
    <script type="text/javascript">
        var ub = @Model.UserBalance;
        var IsAuthenticated = "@Request.IsAuthenticated" == "True";
    </script>
    @Scripts.Render("~/bundles/manage/index")
}