
@model zapread.com.Models.Admin.AddUserToGroupRoleViewModel

<div class="form-group">
    <div class="input-group mb-3">
        <input id="GroupUser" type="text" class="form-control" placeholder="User" aria-label="Recipient's username" aria-describedby="basic-addon2" style="margin-bottom:5px">
        <div class="input-group-append">
            <button id="GroupUserSelect" class="btn btn-outline-secondary" type="button" onclick="GroupUserGo()">Fetch</button>
        </div>
    </div>
</div>

<div id="GroupUserGroupRoles" style="display:none">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="GroupAdminUserGroupAdministrator">
        <label class="form-check-label" for="defaultCheck1">
            Administrator
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="GroupAdminUserGroupModerator">
        <label class="form-check-label" for="defaultCheck1">
            Moderator
        </label>
    </div>
    <br />
    <div class="form-group">
        <button id="GroupUserUpdate" class="btn btn-outline-secondary" type="button" onclick="GroupUserUpdate()">Update</button>
    </div>
</div>

@using (var context = Html.BeginScriptContext())
{
    context.AddScriptBlock(@"var gname = '" + Model.GroupName + "';"); // TODO: fix this
    //context.AddScriptFile("~/bundles/partial/group/userRoles");
}