@model zapread.com.Models.GroupAdminIconsViewModel

@Html.DropDownListFor(m => m.Icon,
    Model.Icons.Select(x => new SelectListItem() { Text = x, Value = x}),
    new { @class = "", id= "select-icon"})

@Html.Script(
@<script type="text/javascript">
    $(document).ready(function () {
        $('#select-icon').selectize({
            labelField: 'name',
            searchField: 'name',
            create: false,
            render: {
                option: function (item, escape) {
                    return '<div>' +
                        '<span class="title">' +
                        '&nbsp;&nbsp;<i class="fa fa-' + escape(item.name) + ' fa-2x"></i>'/* + ' ' + escape(item.name) + '</span>'*/
                    '</div>';
                },
                item: function (item, escape) {
                    return '<div>' +
                        '<span class="title">' +
                        '&nbsp;&nbsp;<i class="fa fa-3x fa-' + escape(item.name) + '"></i>'
                    '</div>';
                }
            }
        });
    });

    $('#GroupIconSaveChanges').click(function () {
        var gid = @Model.GroupId;
        var groupIcon = $('#select-icon').val();
        $.ajax({
            url: "/Group/UpdateGroupIcon",
            type: "POST",
            dataType: "json",
            data: { groupId: gid, icon: groupIcon},
            success: function (data) {
                alert('Update successful.');
                $('#GAdminEditIconModal').modal('hide');
            }
        });
    });
</script>
                )

