@model zapread.com.Models.GroupMemberViewModel

<div class="col-lg-4">
    <div class="contact-box">
        <a class="row" href="@Url.Action("Index", "User", new { username = Model.UserName})">
            <div class="col-sm-4">
                <div class="text-center">
                    <img alt="image" class="img-circle m-t-xs img-responsive" src="@Url.Action("UserImage", "Home", new {size = 100, UserId = Model.AppId})">
                    @if (Model.IsModerator)
                    {
                        <div class="m-t-xs font-bold" style="color:darkcyan">Group Moderator</div>
                    }
                    @if (Model.IsGroupAdministrator)
                    {
                        <div class="m-t-xs font-bold" style="color:crimson">Group Administrator</div>
                    }
                    @if (Model.IsSiteAdministrator)
                    {
                        <div class="m-t-xs font-bold" style="color:midnightblue">Site Administrator</div>
                    }
                </div>
            </div>
            <div class="col-sm-8">
                <h3>
                    <span style="display:inline"><strong>@Model.UserName</strong></h3> @if (Model.IsOnline)
                    {
                        <span style="display:inline;color:green"><i class="fa fa-check-circle"></i> Online</span>
                    }
                    else
                    {
                        <span style="display:inline;color:lightgray"><i class="fa fa-minus-circle"></i> Offline</span>
                    }
                    </span>
                <p>@Model.AboutMe</p>
            </div>

            <div class="clearfix"></div>
            
        </a>
    </div>
</div>
