
@model zapread.com.Models.Admin.AddUserToGroupRoleViewModel

<div class="form-group">
    <div class="input-group mb-3">
        <input id="GroupUser" type="text" class="form-control" placeholder="User" aria-label="Recipient's username" aria-describedby="basic-addon2" style="margin-bottom:5px">
        <div class="input-group-append">
            <button id="GroupUserSelect" class="btn btn-outline-secondary" type="button" onclick="GroupUserGo()">Fetch</button>
        </div>
    </div>
</div>

<div id="GroupUserGroupRoles" style="display:none">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="GroupAdminUserGroupAdministrator">
        <label class="form-check-label" for="defaultCheck1">
            Administrator
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="GroupAdminUserGroupModerator">
        <label class="form-check-label" for="defaultCheck1">
            Moderator
        </label>
    </div>
    <br />
    <div class="form-group">
        <button id="GroupUserUpdate" class="btn btn-outline-secondary" type="button" onclick="GroupUserUpdate()">Update</button>
    </div>
</div>

@Html.Script(
@<script type="text/javascript">
    var GroupUserGo = function () {
        $('#GroupUserGroupRoles').show();
    };
    var GroupUserUpdate = function () {
        // Only works if user is group admin
        var uname = $("#GroupUser").val();
        var gname = "@Model.GroupName";
        var isAdmin = $('#GroupAdminUserGroupAdministrator').is(":checked");

        // Get our AntiForgeryToken
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        var headers = {};
        headers['__RequestVerificationToken'] = token;

        var data = { group: gname, user: uname, isAdmin: $('#GroupAdminUserGroupAdministrator').is(":checked"), isMod: $('#GroupAdminUserGroupModerator').is(":checked") };
        $.ajax({
            async: true,
            url: "/Group/UpdateUserGroupRoles",
            type: "POST",
            dataType: "json",
            data: data,
            headers: headers,
            success: function (data) {
                if (data.success) {
                    alert('Update successful.');
                }
                else {
                    alert('Error updating user roles: ' + data.message);
                }
            }
        });
    };

    $(document).ready(function () {
        $("#GroupUser").autocomplete({
                autoFocus: true,
                source: function (request, response) {
                    $.ajax({
                        async: true,
                        url: "/Group/GetUsers",
                        type: "POST",
                        dataType: "json",
                        data: { group: "@Model.GroupName", prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item, value: item };
                            }))
                        }
                    })
                },
                change: function (event, ui) {
                    $.ajax({
                        async: true,
                        url: "/Group/GetUserGroupRoles",
                        type: "POST",
                        dataType: "json",
                        data: { group: "@Model.GroupName", user: $("#GroupUser").val() },
                        success: function (data) {
                            //$('#UserGroupMember').prop('checked', data.indexOf("Member") > -1)
                            $('#GroupAdminUserGroupModerator').prop('checked', data.indexOf("Moderator") > -1)
                            $('#GroupAdminUserGroupAdministrator').prop('checked', data.indexOf("Administrator") > -1)
                        }
                    })
                }
            });
    });
</script>
)