@model zapread.com.Models.NewGroupViewModel
@{
    ViewBag.Title = "Edit Group";
}

<div id="root"></div>

@section Styles {
    @Styles.Render("~/bundles/group/edit/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/group/edit")
}