@using Microsoft.AspNet.Identity;

@*@model zapread.com.Models.GroupViewModel*@
@{
    //ViewBag.Title = Model.GroupName + (string.IsNullOrEmpty(Model.ShortDescription) ? "" : " - " + Model.ShortDescription);
    //ViewBag.ViewInfo = "Group:" + Model.GroupName;
}

<div id="root"></div>

@section Styles {
    @Styles.Render("~/bundles/group/detail/css")
}

@section Scripts {
    <script type="text/javascript">
        var IsAuthenticated = "@Request.IsAuthenticated" == "True";
        var IsAdmin = "@(User != null && User.IsInRole("Administrator"))" == "True";    
    </script>

    @Scripts.Render("~/bundles/group/detail")
}