@model zapread.com.Models.GroupsViewModel
@{
    ViewBag.Title = "Groups";
}

<div id="root"></div>

@section Styles {
    @Styles.Render("~/bundles/group/index/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/group/index")

    <script type="text/javascript">
        var IsAuthenticated = "@Request.IsAuthenticated" == "True";
    </script>
}