@model zapread.com.Models.NewGroupViewModel

@{
    ViewBag.Title = "New";
}

<div id="root"></div>

@section Styles {
    @Styles.Render("~/bundles/group/new/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/group/new")
}