@model zapread.com.Models.NewGroupViewModel

@{
    ViewBag.Title = "New";
}

<div id="root"></div>

@section Styles {
    @Styles.Render("~/bundles/group/new/css")
}

@section Scripts {
    <script>
        var captchaImageB64 = "@Model.CaptchaSrcB64";
    </script>
    @Scripts.Render("~/bundles/group/new")
}