@model zapread.com.Models.Admin.AddUserToGroupRoleViewModel

<div class="form-group">
    <div class="input-group mb-3">
        <input id="User" type="text" class="form-control" placeholder="User" aria-label="" aria-describedby="basic-addon2" style="margin-bottom:5px">
        <div class="input-group-append">
            <button id="UserSelect" class="btn btn-outline-secondary" type="button" onclick="userGo()">Fetch</button>
        </div>
    </div>
</div>

<div id="UserGroupRoles" style="display:none">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="UserGroupAdministator">
        <label class="form-check-label" for="defaultCheck1">
            Administrator
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="UserGroupModerator">
        <label class="form-check-label" for="defaultCheck1">
            Moderator
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="UserGroupMember">
        <label class="form-check-label" for="defaultCheck1">
            Member
        </label>
    </div>
    <br />
    <div class="form-group">
        <button id="UserUpdate" class="btn btn-outline-secondary" type="button" onclick="userUpdate()">Update</button>
    </div>
</div>

@Html.Script(
@<script type="text/javascript">
    var gname = "@Model.GroupName";
</script>
)