@{
    ViewBag.Title = "Accounting";
}

<div id="root"></div>

@section Styles {
    @Styles.Render("~/bundles/admin/accounting/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/admin/accounting")
}