@model zapread.com.Models.Admin.AdminAchievementsViewModel

@{
    ViewBag.Title = "Admin - Achievements";
}

<div class="modal fade" id="ModalFileUpload" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        @*<div class="modal-header">
            <h5 class="modal-title">Upload image</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>*@
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AdminUploadAchievementImage", "Admin", FormMethod.Post, new { @class = "dropzone", id = "dropzoneForm", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="fallback">
                        <input name="file" type="file" />
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>

<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <br />
        <h2>Administration</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Admin</a></li>
            <li class="breadcrumb-item active">Achievements</li>
        </ol>
        <small>Website administration page.</small>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="ibox float-e-margins">
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10">
            <div class="ibox-content no-padding">
                <div class="wrapper p-md">
                    <h3>Achievements</h3>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input id="aName" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <input id="aDescription" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Value</label>
                        <div class="col-sm-10">
                            <input id="aValue" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Image</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-1">
                                    <img id="aImage" src="/Img/AchievementImage/1/" />
                                </div>
                                <div class="col-sm-11">
                                    <a href="#" class="btn btn-sm btn-primary" onclick="uploadImage();">Upload Image</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <a href="" class="btn btn-primary btn-outline" onclick="add()">Add</a>
                    <br />
                    <table id="achievementsTable" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Value</th>
                                <th>Awarded</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/admin/achievements/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/admin/achievements")
}
