@model zapread.com.Models.Admin.AdminLightningViewModel

@{
    ViewBag.Title = "Admin Lightning page";
}


<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <br />
        <h2>Administration</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Admin</a></li>
            <li class="breadcrumb-item active">Lightning</li>
        </ol>
        <small>Website administration page.</small>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="ibox float-e-margins">
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10">
            <div class="ibox-content no-padding">
                <h1>TODO</h1>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/css/datatables")
}

@section Scripts {
@Scripts.Render("~/plugins/moment")
@Scripts.Render("~/bundles/datatables")

<script type="text/javascript">
    var usersTable = {};
    $(document).ready(function () {

        // Close ibox function
        $('.close-link').on('click', function () {
            var content = $(this).closest('div.ibox');
            content.remove();
        });

        // Small todo handler
        $('.check-link').on('click', function () {
            var button = $(this).find('i');
            var label = $(this).next('span');
            button.toggleClass('fa-check-square').toggleClass('fa-square-o');
            label.toggleClass('todo-completed');
            return false;
        });

        // Collapse ibox function
        $('.collapse-link').on('click', function () {
            var ibox = $(this).closest('div.ibox');
            var button = $(this).find('i');
            var content = ibox.children('.ibox-content');
            content.slideToggle(200);
            button.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
            ibox.toggleClass('').toggleClass('border-bottom');
            setTimeout(function () {
                ibox.resize();
                ibox.find('[id^=map-]').resize();
            }, 50);
        });
    });
</script>
}