@{
    ViewBag.Title = "Admin Reactions";
}

<div id="root"></div>

@section Styles {
    @Styles.Render("~/bundles/admin/reactions/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/admin/reactions")
}
