@model zapread.com.Models.Admin.AdminUsersViewModel

@{
    ViewBag.Title = "Admin Users page";
}


<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <br />
        <h2>Administration</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Admin</a></li>
            <li class="breadcrumb-item active">Users</li>
        </ol>
        <small>Website administration page.</small>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="ibox float-e-margins">
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content no-padding">
                <table id="usersTable" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Date Joined</th>
                            <th>Last Seen</th>
                            <th>Posts</th>
                            <th>Comments</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/css/datatables")
}

@section Scripts {
@Scripts.Render("~/bundles/datatables")

<script type="text/javascript">
    var usersTable = {};
    $(document).ready(function () {
        // Close ibox function
        $('.close-link').on('click', function () {
            var content = $(this).closest('div.ibox');
            content.remove();
        });

        // Collapse ibox function
        $('.collapse-link').on('click', function () {
            var ibox = $(this).closest('div.ibox');
            var button = $(this).find('i');
            var content = ibox.children('.ibox-content');
            content.slideToggle(200);
            button.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
            ibox.toggleClass('').toggleClass('border-bottom');
            setTimeout(function () {
                ibox.resize();
                ibox.find('[id^=map-]').resize();
            }, 50);
        });

        // Table
        usersTable = $('#usersTable').DataTable({
            "searching": false,
            "bInfo": false,
            "lengthChange": false,
            "ordering": true,
            "order": [[1, "desc"]],
            "pageLength": 25,
            "processing": true,
            "serverSide": true,
            "sDom": '<"row view-filter"<"col-sm-12"<"pull-left"l><"pull-right"f><"clearfix">>>t<"row view-pager"<"col-sm-12"<"text-center"ip>>>',
            "ajax": {
                type: "POST",
                contentType: "application/json",
                url: "/Admin/GetUsersTable",
                data: function (d) {
                    return JSON.stringify(d);
                }
            },
            "columns": [
                {
                    "data": null,//"UserName",
                    "name": 'Name',
                    "orderable": false,
                    "mRender": function (data, type, row) {
                        return "<a target='_blank' href='/user/" + encodeURIComponent(data.UserName) + "'>" + data.UserName + "</a>";
                    }
                },
                { "data": "DateJoined", "orderable": true, "name": "DateJoined", "type": "date", "orderSequence": ["desc", "asc"] },
                { "data": "LastSeen", "orderable": true, "name": "LastSeen", "type": "date", "orderSequence": ["desc", "asc"] },
                { "data": "NumPosts", "orderable": true, "name": "NumPosts", "type": "num", "orderSequence": ["desc", "asc"] },
                { "data": "NumComments", "orderable": true, "name": "NumComments", "type": "num", "orderSequence": ["desc", "asc"] },
                { "data": "Balance", "orderable": true, "name": "Balance", "type": "num-fmt", "orderSequence": ["desc", "asc"] },
            ],
        });
    });
</script>
}