

.ZRSearch {
    margin-right: 10px;
}

.zr-search-icon-stack {
    height: 1em;
    line-height: 1em;
    width: 1em;
}

#input-group-dropdown-search {
    padding: 6px;
}

.zr-search-icon-1 {
    font-size: 22px;
}

.zr-search-icon-2 {
    font-size: 16px;
}

.zr-search-button {
    border-color: #1ab39444; /*Make the border lighter color (alpha) on the top search*/
}

.zr-search-hover {
    border: 1px solid transparent;
    padding: 10px;
}

    .zr-search-hover:hover {
        border: 1px solid;
        border-color: #1ab394;
        background-color: #1ab39405;
        cursor: pointer;
    }

.zr-search-preview {
    max-height: 100px;
    overflow: hidden;
}

.zr-search-hr {
    border-top: 1px dashed #e7eaec;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 5px 0;
}