@model zapread.com.Models.RecentUnreadAlertsViewModel

@foreach (var m in Model.AlertsVm)
{
    <li id="a1_@m.Id">
        <div class="dropdown-messages-box">
            <div class="media-body">
                <span class="pull-right">
                    <a data-keepOpenOnClick href="javascript:void(0);" onclick="dismiss(1,@m.Id)" class="btn btn-sm btn-link" data-toggle="tooltip" data-placement="top" title="Dismiss"><icon class="fa fa-minus-circle"></icon></a>
                </span>
                @Html.Raw(m.Title) <br />
                @if (m.HasPostLink)
                {
                    <span>Post:</span> <a href="@Url.Action(actionName: "Detail", controllerName: "Post", routeValues: new { PostId = m.PostLinkPostId})">
                        @if (m.PostLinkPostTitle != null)
                        {
                            <text>@m.PostLinkPostTitle</text> }
                        else
                        {
                            <text>Link</text>
                        }
                    </a>
                }
                <br />
                @Html.Raw(m.Content)
            </div>
        </div>
    </li>
    <li id="a2_@m.Id" class="divider"><hr /></li>
}
