
@{
    ViewBag.Title = "Alerts";
}

<div id="root"></div>

@section Styles {
    @Styles.Render("~/bundles/messages/alerts/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/messages/alerts")
}