@model zapread.com.Models.ChatMessagesViewModel

<div class="wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <br />
        <h2>Chat</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/Messages/">Messages</a></li>
            <li class="breadcrumb-item active">Chat</li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">

                    Your private chats with XYZ

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <div class="ibox chat-view">
                <div class="ibox-title">
                    <small class="float-right text-muted">Last message:  Mon Jan 26 2015 - 18:39:23</small>
                </div>

                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="chat-discussion">
                                @foreach (var c in Model.Messages)
                                {
                                    <div class="chat-message @if(c.IsReceived){<text>left</text>}else{<text>right</text>}">
                                        <img class="message-avatar" src="~/Images/a1.jpg" alt="">
                                        <div class="message">
                                            <a class="message-author" href="#"> @c.From.Name </a>
                                            <span class="message-date"> @c.Message.TimeStamp.Value.ToString("o") </span>
                                            <span class="message-content">
                                                @Html.Raw(c.Message.Content)
                                            </span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="chat-message-form">
                                <div id="reply" class="form-group">
                                    <textarea class="form-control message-input" name="message" placeholder="Enter message text"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
c7vd    x cx cx sycfuhtjf vruy76yuhjuy7h68yuisd78z8duir78z7u7u7suj i78zuji78ijk ui78uijkmjkixu78ijhhvbefrvt vtt7eg7f8bvef87cebcerfbbcerfy7tr68tvr6trv7royw,vtb87fd67dyn7xcr6ft6revft 6ervgt6e v6tvtr6vtr6vtg6vvbg,b l g6bhgb76y hb7g0bg0b7glb6v-6g5v
@section Scripts {
@Scripts.Render("~/plugins/moment")
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
}