@*@model zapread.com.Models.MessagesViewModel*@

@{
    ViewBag.Title = "Messages";
}

<div id="root"></div>

@section Styles {
    @Styles.Render("~/bundles/messages/index/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/messages/index")
}
