@model zapread.com.Models.ManageUserGroupsViewModel

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Group</th>
            <th scope="col">Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var g in Model.Groups)
        {
            <tr class='clickable-row' data-href='@Url.Action(actionName: "GroupDetail", controllerName: "Group", routeValues: new { id=g.Id })'>
                <td><a class="btn-sm btn-link" href='@Url.Action(actionName: "GroupDetail", controllerName: "Group", routeValues: new { id=g.Id })'><i class="fa @g.Icon"></i> @g.Name</a></td>
                <td>@if (g.IsAdmin) { <text>Admin </text>} @if (g.IsMod) { <text>Moderator </text>}</td>
            </tr>
        }
    </tbody>
</table>
