
.ql-font-arial {
    font-family: 'Arial', sans-serif;
}

.ql-font-roboto {
    font-family: 'Roboto', sans-serif;
}

.ql-font-calibri {
    font-family: 'Calibri', sans-serif;
}

.ql-font-courier {
    font-family: 'Courier New', serif;
}

.ql-font-georgia {
    font-family: 'Georgia', sans-serif;
}

.ql-font-lucida {
    font-family: 'Lucida Sans Unicode', sans-serif;
}

.ql-font-open {
    font-family: 'Open Sans', sans-serif;
}

.ql-font-tahoma {
    font-family: 'Tahoma', sans-serif;
}

.ql-font-times {
    font-family: 'Times New Roman', sans-serif;
}

.ql-font-trebuchet {
    font-family: 'Trebuchet Ms', sans-serif;
}

.ql-font-verdana {
    font-family: 'Verdana', sans-serif;
}
