
/* Auto column width on drafts table */
.react-bootstrap-table table {
    table-layout: auto !important;
}

/* For the saving overlay */
.savingoverlay {
    position: absolute;
    z-index: 1050;
    bottom: 8px;
    left: 30px;
}

/* Needed for quill-video-resize-module */
.ql-editor iframe {
    pointer-events: none;
}

/* Puts toolbar on bottom */
.quill {
    border: 1px solid;
    border-color: #ccc;
    border-radius: 4px;
    /*display: flex;
    flex-direction: column-reverse;*/
}

.ql-mention-list-container {
    width: 270px;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 12px 0 rgba(30, 30, 30, 0.08);
    z-index: 9001;
}

.ql-mention-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ql-mention-list-item {
    cursor: pointer;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    padding: 0 20px;
    vertical-align: middle;
}

.ql-mention-list-item.selected {
    background-color: #d3e1eb;
    text-decoration: none;
}

.mention {
    height: 24px;
    /*width: 65px;*/
    display: inline-flex;
    border-radius: 6px;
    background-color: #23c6c8;
    color: #fff;
    /*background-color: #d3e1eb;*/
    padding: 3px 0;
    margin-right: 2px;
}

.mention > span {
    margin: 0 3px;
}

/*.ql-snow .ql-editor*/ /*Apply the blockquote site-wide*/
.ql-snow .ql-editor blockquote, blockquote {
    border-left: 5px solid #1ab394;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 16px;
}

button.ql-submit:hover {
    background-color: #18a689 !important;
    border-color: #18a689 !important;
    color: #fff !important;
}

button.ql-submit {
    min-width: 90px;
    font-size: 14px;
    color: green;
    padding-top: 1px !important;
}

button.ql-save:hover {
    background-color: #18a689 !important;
    border-color: #18a689 !important;
    color: #fff !important;
}

button.ql-save {
    min-width: 90px;
    font-size: 14px;
    padding-top: 1px !important;
}

.ql-toolbar, .ql-toolbar.ql-snow {
    background-color: #f3f3f4;
    border-radius: 4px 4px 0px 0px;
    border: 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 64px;
    z-index: 1020;
    padding: 3px;
}

.ql-container, .ql-container.ql-snow {
    border: 0px;
    font-size: 18px;
}

/* Created to put border around content input*/
.ql-content {
    border-radius: 4px;
    /*border: 1px solid;
    border-color: #ccc;*/
}

.ql-editor {
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    height: auto;
    min-height: 400px;
}

.ql-snow.ql-toolbar button {
    background: #fff;
    border: 1px solid;
    border-color: #dae0e5;
    margin-right: 2px;
    margin-top: 2px;
    border-radius: 3px;
}

.ql-snow .ql-picker {
    background: #fff;
    border: 1px solid;
    border-color: #dae0e5;
    margin-right: 2px;
    margin-top: 2px;
    border-radius: 3px;
}

/*Not sure why this icon isn't properly aligned.  This seems to fix it.*/
.ql-color-picker .ql-picker-label svg, .ql-snow .ql-icon-picker .ql-picker-label svg {
    vertical-align: top;
}

.ql-toolbar.ql-snow .ql-formats {
    margin-right: 5px;
}

.ql-editor p, .ql-editor ol, .ql-editor ul, .ql-editor pre, .ql-editor blockquote, .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6 {
    /* margin:0; */
    /* padding:0; */
    margin-top: 0;
    margin-bottom: 1rem;
    /* counter-reset:list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9; */
}

.ql-editor p, .ql-editor ol, .ql-editor ul, .ql-editor pre, .ql-editor blockquote, .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6 {
    /* margin:0; */
    /* padding:0; */
    margin-top: 0;
    margin-bottom: 1rem;
    /* counter-reset:list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9; */
}

/*Style the hovers*/

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: #fff;
    background-color: #18a689;
}

    .ql-snow.ql-toolbar button:hover .ql-fill,
    .ql-snow .ql-toolbar button:hover .ql-fill,
    .ql-snow.ql-toolbar button:focus .ql-fill,
    .ql-snow .ql-toolbar button:focus .ql-fill,
    .ql-snow.ql-toolbar button.ql-active .ql-fill,
    .ql-snow .ql-toolbar button.ql-active .ql-fill,
    .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
    .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
    .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
    .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
    .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
    .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
    .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
    .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
    .ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
    .ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
    .ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
    .ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
    .ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
    .ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
    .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
    .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
    .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
    .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
    .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
    .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
    .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
    .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
        fill: #fff;
    }

    .ql-snow.ql-toolbar button:hover .ql-stroke,
    .ql-snow .ql-toolbar button:hover .ql-stroke,
    .ql-snow.ql-toolbar button:focus .ql-stroke,
    .ql-snow .ql-toolbar button:focus .ql-stroke,
    .ql-snow.ql-toolbar button.ql-active .ql-stroke,
    .ql-snow .ql-toolbar button.ql-active .ql-stroke,
    .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
    .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
    .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
    .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
    .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
    .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
    .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
    .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
    .ql-snow.ql-toolbar button:hover .ql-stroke-miter,
    .ql-snow .ql-toolbar button:hover .ql-stroke-miter,
    .ql-snow.ql-toolbar button:focus .ql-stroke-miter,
    .ql-snow .ql-toolbar button:focus .ql-stroke-miter,
    .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
    .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
    .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
    .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
    .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
    .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
    .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
    .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
    .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
    .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
        stroke: #fff;
    }

@media (pointer: coarse) {
    .ql-snow.ql-toolbar button:hover:not(.ql-active),
    .ql-snow .ql-toolbar button:hover:not(.ql-active) {
        color: #fff;
        background-color: #18a689;
    }

        .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-fill,
        .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-fill,
        .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill,
        .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill {
            fill: #fff;
        }

        .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke,
        .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke,
        .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter,
        .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter {
            stroke: #fff;
        }
}