$bg: 'bg';
$body-text: 'body-text';
$page-heading-bg: 'page-heading-bg';
$nav-bg: 'nav-bg';
$nav-link-text: 'nav-link-text';
$nav-link-text-hover: 'nav-link-text-hover';
$ibox-bg: 'ibox-bg';
$bg-form-control: 'bg-form-control';
$border-form-control: 'border-form-control';
$bg-warning: 'bg-warning';
$text-warning: 'text-warning';
$bg-primary: 'bg-primary';
$text: 'text';
$text-primary: 'text-primary';
$text-form-control: 'text-form-control';
$post-bg: 'post-bg';
$comment-bg: 'comment-bg';
$post-comment-border: 'post-comment-border';
$btn-white-bg: 'btn-white-bg';
$btn-white-border: 'btn-white-border';
$btn-white-text: 'btn-white-text';
$zr-primary: 'zr-primary';
$red-bg: 'red-bg';
$red-bg-text: 'red-bg-text';
$card-border: 'card-border';
$text-inverse: 'text-inverse';
$table-head: 'table-head';
$chat-bg: 'chat-bg';
$chat-message-bg: 'chat-message-bg';
$chat-message-placeholder: 'chat-message-placeholder';
$bg-muted: 'bg-muted';
$tab-bg-active: 'tab-bg-active';
$tab-bg-active-text: 'tab-bg-active-text';
$text-muted: 'text-muted';