/*Based on https://medium.com/@katiemctigue/how-to-create-a-dark-mode-in-sass-609f131a3995 */

$themes: ( 
    default: ( 
        bg: $gray,
        bg-post: $gray,
        body-text: #676a6c,
        bg-form-control: #fff,
        border-form-control: #e5e6e7,
        text-form-control: #495057,
        page-heading-bg: #fff,
        nav-bg: #ffffff,
        nav-link-text: #676a6c,
        nav-link-text-hover: #1ab394,
        ibox-bg: #fff,
        text: #212529, 
        bg-warning: #f8ac59,
        text-warning: #fff,
        bg-primary: #1ab394,
        text-primary: #fff,
        post-bg: #fff,
    ), 
    dark: ( 
        bg: #000,
        bg-post: $gray,
        body-text: #f3f3f4,
        bg-form-control: #333,
        border-form-control: #1a1a1a,
        text-form-control: #e5e6e7,
        page-heading-bg: #1a1a1a,
        nav-bg: #1a1a1a,
        nav-link-text: #e5e6e7,
        nav-link-text-hover: #1ab394,
        ibox-bg: #1a1a1a,
        text: #f3f3f4, 
        bg-warning: #b17b40,
        text-warning: #f3f3f4,
        bg-primary: #12856d,
        text-primary: #fff,
        post-bg: #222426,
    ), 
);

@mixin themed() {
    @each $theme, $map in $themes {
        .theme--#{$theme} & {
            $theme-map: () !global;

            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }

            @content;
            $theme-map: null !global;
        }
    }
}

@function t($key) {
    @return map-get($theme-map, $key);
}